:root {
    --link-h: 0deg;
    --tint-back: 0;
    --tint-front: 0;
    
    --background-h: var(--link-h);
    --background-l: 100%;
    --background-s: calc(41% * (var(--tint-back) / 100));
    --cover-border-radius: 0;
    --faint-l: 87%;
    --header-a: 0.82;
    --header-l: 0%;
    --header-link-l: 100%;
    --header-shadow-a: 0.2;
    --header-text-l: 85%;
    --link-l: 42%;
    --link-s: 100%;
    --link-hover-l: 48%;
    --muted-h: var(--link-h);
    --muted-l: 68%;
    --muted-s: calc(35% * (var(--tint-front) / 100));
    --nav-s: calc(17% * (var(--tint-front) / 100));
    --overlay-a: 90;
    --release-additional-a: 0.04;
    --text-h: 0deg;
    --text-l: 14%;
    --text-s: calc(94% * (var(--tint-front) / 100));
}
@font-face {
    font-display: fallback;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow'), url('barlow-v5-latin-regular.woff2') format('woff2');
}
body, button, input { font-family: 'Barlow', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

